table {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

#button-wrap {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 30px;
}

button {
    width: 35%;
    height: 100%;
}

input {
    width: 49%;
}